.contact-tab {
    position: fixed;
    margin-top: 5%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 60px;
    height: 150px;
    /* Ancho inicial contraído */
    background-color: #0a4a84;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s ease;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
}

/* Expansión de la pestaña al hacer hover */
.contact-tab:hover {
    width: 200px;
}

/* Iconos visibles solo en estado contraído */
.icon-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    gap: 15px;
}

/* Ocultar iconos cuando la pestaña está expandida */
.contact-tab:hover .icon-only {
    display: none;
}

/* Botones con iconos y texto ocultos en el estado contraído */
.contact-buttons {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    width: 100%;
}

/* Mostrar botones con iconos y texto al expandir */
.contact-tab:hover {
    height: 200px;
}

.contact-tab:hover .contact-buttons {
    display: flex;
    background-color: #0a4a84;
}

.contact-buttons a {
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    width: 100%;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.contact-buttons a span {
    margin-left: 8px;
    /* Espacio entre icono y texto */
}

.contact-buttons a:hover {
    color: #a7c5eb;
}



/* Icon colors for social hover effects */
.social-icons .social-icon {
    color: rgb(49, 45, 45);
    transition: color 0.3s ease;
}

.social-icons a.gmail:hover .social-icon {
    color: #D44638;
}

.social-icons a.facebook:hover .social-icon {
    color: #4267B2;
}

.social-icons a.instagram:hover .social-icon {
    color: #E4405F;
}

.social-icons a.linkedin:hover .social-icon {
    color: #0077B5;
}