/* Estructura básica */
.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f8f9fa;
  height: 100vh;
}

/* Para alinear slider y card-sale horizontalmente */
.slide-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  /* Espacio entre el slide-section y el botón de cotización */
}

/* Slider styling */
.slider {
  flex: 2;
  /* Ocupa más espacio que la card-sale */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slide {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  display: block;
  opacity: 1;
}

/* Tarjetas de servicio dentro del slider */
.card-service {
  text-align: center;
}

.card-service h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.card-service p {
  font-size: 16px;
  color: #666;
}

/* Card-sale */
.card-sale {
  flex: 1;
  /* Ocupa menos espacio que el slider */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-sale h1 {
  font-size: 24px;
  color: #d9534f;
}

/* Botón de cotización */
.boton-cotiz {
  padding: 10px 20px;
  background-color: #136fd1;
  color: white;
  font-size: 22px;
  font-weight: 400;
  /* Peso normal por defecto */
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease, font-weight 0.2s ease;
}

/* Efecto al pasar el cursor */
.boton-cotiz:hover {
  background-color: #21db31;
  transform: scale(1.2);
  /* Aumenta el tamaño del botón al pasar el cursor */
  font-weight: 700;
  /* Cambia el peso de la fuente a más gruesa */
}