/* Estilo básico para la sección */
.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

/* Slider container */
.slider {
  position: relative;
  width: 80%;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

/* Estilos de cada slide */
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* Estilos de las tarjetas */
.card {
  background-color: rgb(146, 233, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.card h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
  color: #666;
}
