/* Estilos para el navbar general */
nav {
  background-color: rgba(12, 55, 100, 0.7);
  /* Fondo azul oscuro translúcido */
  position: fixed;
  width: 100%;
  z-index: 1000;
  /* Asegura que esté por encima de otros elementos */
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-container-contact,
.nav-container-service {
  background-color: #136fd1;
  color: white;
  text-align: center;
  /* padding: 10px; */
}

/* Estilos para enlaces de servicios */
.nav-container-service a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 5px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-container-service a:hover {
  color: white;
  transform: scale(1.1);
}

/* Logo */
.logo {
  display: flex;
  margin: 0;
  padding: 0;
}

.logo img {
  max-width: 90%;
  height: auto;
  display: block;
  max-height: 90px;
}

/* Contenedor de enlaces del menú */
.container-links {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para los iconos de contacto */
.contact-links a {
  margin-right: 15px;
  display: inline-block;
  transition: transform 0.3s ease;
  padding: 0;
  border: none;
  outline: none;
}

.contact-links a img {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* Tamaños de iconos */
.icon-mail img {
  width: 43px;
  height: 43px;
  object-fit: cover;
}

.icon-whatsapp img {
  width: 41px;
  height: 41px;
  object-fit: cover;
}

.icon-facebook img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  margin-bottom: 2px;
}

.icon-linkedin img {
  width: 39px;
  height: 39px;
  object-fit: cover;
}

.icon-github img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* Animación de giro opcional */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.contact-links img:hover {
  animation: rotate 2s infinite linear;
}

/* Estilos para la lista del menú */
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 30px;
  overflow: hidden;
}

.menu a {
  text-decoration: none;
  color: #f0d964;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu li a {
  font-size: 16px;
}

.menu a:hover {
  color: #ffffff;
  font-size: 18px;
}

.menu li a:hover {
  transform: scale(1.1);
}

/* Estilos para la tarjeta flotante de servicios */
.services-dropdown {
  position: absolute;
  top: 75px;
  /* Ajusta la distancia desde la barra de navegación */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(174, 208, 245, 0.9);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  z-index: 1000;
  width: 250px;
}

.services-dropdown ul {
  list-style-type: none;
  padding: 0;
}

.services-dropdown li {
  padding: 3px 5px;
  /* Ajusta el padding para un espaciado más cómodo */
  text-align: left;
  /* Asegura que el texto esté alineado hacia la izquierda */
}

.services-dropdown a {
  color: #136fd1;
  text-decoration: none;
  transition: color 0.3s ease;
}

.services-dropdown a:hover {
  color: #0040b8;
}