nav {
  background-color: rgba(0, 21, 43, 0.7); /* Fondo azul oscuro translúcido */
  padding: 10px 20px; /* Espaciado superior e inferior */
  position: fixed; /* Fijar la barra de navegación */
  width: 100%; /* Ancho completo */
  z-index: 1000; /* Asegurarse de que esté por encima de otros elementos */
}

.navbar {
  display: flex; /* Usar flexbox para organizar el contenido */
  justify-content: space-between; /* Espacio entre logo y enlaces */
  align-items: center; /* Alinear verticalmente */
}

.logo {
  width: 80%; /* Ancho del logo del 50% */
  display: flex; /* Usar flexbox para centrar el logo */
  justify-content: center; /* Centrar horizontalmente */
}

.logo img {
  max-width: 100%; /* Asegurarse de que el logo no exceda el contenedor */
  height: auto; /* Mantener la relación de aspecto */
}

.container-links {
  display: flex; /* Usar flexbox para la sección de enlaces */
  align-items: center; /* Alinear verticalmente */
}

.contact-links a {
  margin-right: 15px; /* Espaciado entre los iconos de contacto */
  display: inline-block; /* Para aplicar correctamente las transformaciones */
  transition: transform 0.3s ease; /* Suavizar la transformación */
}

.contact-links img {
  width: 40px; /* Ancho fijo para los iconos */
  height: 40px; /* Alto fijo para los iconos */
  object-fit: contain; /* Asegurarse de que la imagen se ajuste dentro del contenedor */
}

.icon-mail img {
  width: 48px; /* Tamaño del ícono de correo */
  height: 48px; /* Ajuste a proporciones específicas */
  object-fit: cover;
}

.icon-whatsapp img {
  width: 45px; /* Tamaño del ícono de WhatsApp */
  height: 45px;
  object-fit: cover;
}

.icon-facebook img {
  width: 59px; /* Tamaño del ícono de Facebook */
  height: 59px;
  object-fit: cover;
}


/* Animación continua de giro (opcional, si quieres que siempre giren) */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Aplicar animación continua a los íconos si lo deseas */
.contact-links img:hover {
  animation: rotate 2s infinite linear;
}

.menu {
  list-style-type: none; /* Eliminar viñetas de la lista */
  margin: 0; /* Eliminar margen */
  padding: 0; /* Eliminar padding */
  display: flex; /* Usar flexbox para la lista */
}

.menu li {
  margin-left: 20px; /* Espaciado entre los elementos de la lista */
}

.menu a {
  text-decoration: none; /* Eliminar subrayado */
  color: #f0d964; /* Color dorado para el texto */
  font-weight: bold; /* Texto en negrita */
  transition: color 0.3s ease; /* Transición suave para el hover */
}

.menu a:hover {
  color: #ffffff; /* Color blanco en hover */
}
